.dorico {
    /* margin: 50px; */
    background-color: azure;
    border: 1px solid grey;
    /* height: 400px; */
    display: grid;
    /* place-content: center; */
    grid-template-rows: repeat(16, 1fr);
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: 
    "fronton fronton fronton fronton"
    "fronton fronton fronton fronton"
    "cornisa cornisa cornisa cornisa"
    "triglifo triglifo triglifo triglifo"
    "triglifo triglifo triglifo triglifo"
    "arquitrabe arquitrabe arquitrabe arquitrabe"
    "arquitrabe arquitrabe arquitrabe arquitrabe"
    ;
}
.fronton {
    background-color: rgb(207, 72, 72);
    grid-area: fronton;
}
.cornisa {
    background-color: greenyellow;
    grid-area: cornisa;
}
.triglifo {
    background-color: aquamarine;
    grid-area: triglifo;
}
.arquitrabe {
    background-color: blueviolet;
    grid-area: arquitrabe;
}