* {
    margin: 0 ;
}
.dorico {
    margin: 50px;
    background-color: azure;
    border: 1px solid grey;
    height: 400px;
    display: grid;
    place-content: center;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "abc abc abc vacio"
    "abc abc abc abc"
    "cornisa cornisa cornisa cornisa"
    "triglifo triglifo triglifo vacio"
    "triglifo triglifo triglifo vacio"
    "arquitrabe arquitrabe arquitrabe vacio"
    "arquitrabe arquitrabe arquitrabe vacio"
    "vacio capitel capitel vacio"
    "vacio fuste fuste vacio"
    "vacio fuste fuste vacio"
    "vacio fuste fuste vacio"
    "vacio fuste fuste vacio"
    "vacio fuste fuste vacio"
    "vacio fuste fuste vacio"
    "vacio fuste fuste vacio"
    "vacio fuste fuste vacio";
}
.fronton {
    background-color: rgb(207, 72, 72);
    grid-area: abc;
}